@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
  --white: #FAF8ED;
  --dark: #424242;
  --gray: #E1E1E1;
  --orange: #F35330;
  --background: #fdfcf9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior:smooth;
    color: var(--dark);
    background-color: var(--background);
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 120px;
  line-height: 136px;
  font-weight: 400;
  overflow-y: hidden;
}

h2{
  font-size: 80px;
  font-weight: 400;
}

h3{
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 400;
  color: var(--orange);
  white-space: nowrap;
}

p{
  font-size: 16px;
}

.body-container{
  width: 1440px;
  margin: 0 auto;;
}


/* Header CSS Properties */

#bar{
  display: none;
}

#navresponsive{
  display: none;
}

#close{
  display: initial;
  position: absolute;
  top: 10px;
  right: 36px;
  color: #222;
  height: 28px;
  width: auto;
}

.top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0 8%;
  border-bottom: 1px solid var(--gray);
}

#name-phone{
  display: none;
}

.top-name{
  margin: 0 8%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
}

.top-name .name{
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
}

.arrow-container{
  padding-bottom: 6.5%;
}
.arrow-img{
  width: 120px;
  height: auto;
}


/* Nav Bar CSS */

.nav .nav-links{
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.num{
  font-size: 18px;
  font-weight: 300;
}

.nav-item{
  font-size: 18px;
  font-weight: 700;
}

.nav-item:hover{
  color: var(--orange);
  transition: 0.3s;
}


/* Landing Description CSS */

.header-desc{
  display: flex;
  padding: 8%;
  justify-content: space-between;
}

.desc-left{
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* max-width: min-content; */
}

.first-line{
  display: flex;
  gap: 8px;
  max-width: fit-content;
}

.first-line #research{
  font-size: 22px;
  font-weight: 300;
}

.first-line #design, .right-desc #design{
  font-size: 20px;
  font-weight: 500;
}

.first-line #experience{
  font-size: 20px;
  font-weight: 700;
}

.second-line{
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  overflow-wrap: break-word;
  /* flex: 1; */
}

.third-line{
  font-size: 20px;
  font-weight: 500;
  /* line-height: 120%; */
}


.right-desc{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.explore-button{
  color: var(--orange);
  border: 1px var(--orange) solid;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  align-items: center;
  display: inline-flex; 
  gap: 4px;
  align-items: flex-end; 
  transition: box-shadow 0.3s ease;
}

.explore-button span{
  color: var(--orange);
  font-size: 24px;
  font-style: italic;
}

.explore-button img {
  vertical-align: bottom; 
}


.explore-button:hover{
  box-shadow: 0 0 20px var(--orange);
}

/* Body CSS */

#offer-container{
  background-image: url(img/background.jpg);
}


.heading{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: var(--orange);
}

.offer{
  padding: 0 8%;
}

.offer p{
  width: 70%;
  font-size: 22px;
  font-weight: 500;
}

.offer-cards{
  display: flex;
}



.cover-img img{
  max-width: 100%;
  width: 100%;
  height: 560px;
  object-fit: cover;
}



#mobile-feature-img{
  display: none;
}


/* Contact icon css */

/* body{
  padding: 0 8%;
} */

.contact-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 80px;
}

.contact-button img {
  width: 48px; /* Adjust size as needed */
  height: 48px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: var(--background);
  border: 1px var(--orange) solid;
  border-radius: 80px;
  padding: 10px;
  cursor: pointer;
}

.heading h3{
  padding: 0 8%;
}

.card-row{
  display: flex;
  gap: 8%;
  padding: 4% 0;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card:hover{
  cursor: pointer;
}

.card img{
  border-radius: 8px;
  border: 2px var(--gray) solid;
  transition: transform 0.3s ease;
}

.card img:hover{
  transform: scale(1.05);
}

.card h4{
  font-size: 36px;
  font-weight: 700;
}

.card p{
  font-size: 20px;
}













/* Responsive Design */


@media (max-width:977px){

body {
  padding: 0 2%;
}

h1 {
  font-size: 72px;
  line-height: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

.top-name {
  margin: 0 8%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.top-bar{
  padding: 8px 0;
}

.top-bar p{
  font-size: 16px;
} 

.top-bar #name-desktop{
  display: none;
}

.top-bar #name-phone{
  display: contents;
}

#open{
    display: none;
}

#bar{
  display: block;
  width: 28px;
  height: auto;
}


/* Nav Section */

.nav{
  display: none;
}

#navresponsive{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  right: -240px;
  height: 100vh;
  width: 240px ;
  background-color: var(--background);
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  padding: 40px 0 0 12px;
  transition: 0.3s;
}

#navresponsive.active ul.nav-links{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#navresponsive.active a{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}


#navresponsive.active {
  right: 0;
}


/* Description Section */

.header-desc{
  display: flex;
  padding: 2% 8%;
  gap: 10%;
}


.first-line #research{
  font-size: 16px;
}

.first-line #design, .right-desc #design{
  font-size: 16px;
  font-weight: 500;
}

.first-line #experience{
  font-size: 16px;
  font-weight: 700;
}

.second-line{
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  overflow-wrap: break-word;
  /* flex: 1; */
}

.third-line{
  font-size: 16px;
  font-weight: 500;
  /* line-height: 120%; */
}

.explore-button span{
  font-size: 18px;
}

.explore-button img {
  height: 18px;
  width: 18px;
}


.card-row{
  display: flex;
  flex-direction: column;
  gap: 4%;
}

#desktop-feature-img{
  display: none;
}

#mobile-feature-img{
  display: block;
}

}










@media (max-width:477px){

  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  .top-name{
    display: flex;
    flex-direction: column;
  }

  .top-name .name{
    display: inline-flex;
    align-items: flex-end;
  } 

  .right-desc {
    display: none;
  }

  .nav .nav-links{
      display: flex;
      flex-direction: row;
      padding: 0;
      column-gap: 80px;
      row-gap: 20px;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .num {
    font-size: 16px;
    font-weight: 300;
  }

  .nav-item {
    font-size: 18px;
    font-weight: 500;
  }

  .second-line {
    font-size: 16px;
  }

  .desc-left {
    gap: 4px;
  }

  .third-line {
    font-size: 16px;
  }

  .header-desc{
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* padding: 8%; */
    justify-content: space-between;
  }

  .contact-button {
    display: none;
  }

  .arrow-img{
    display: none;
  }

}