@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    
}

header img{
    height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    object-fit: cover;
    opacity: 72%;
}

header h1{
    color: rgb(250, 244, 237);
    font-size: 64px;
    text-align: center;
}

header h2{
    color: rgb(250, 244, 237);
    font-size: 40px;
    text-align: center;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
  }
  
  .rubber {
    appearance: none;
    background: transparent;
    border: 0;
    color: #1a1a1a;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    line-height: 1;
    padding: 1em 1.5em;
    position: relative;
    text-align: center;
    align-items: center;
    transition: filter var(--motion-duration);
    font-weight: 600;
  }
  
  .rubber:hover {
    filter: brightness(1.1);
  }
  
  .rubber:active {
    filter: brightness(0.9);
  }
  
  .rubber > span {
    display: block;
    position: relative;
    transition: transform var(--motion-duration) var(--motion-ease);
    z-index: 1;
  }
  
  .rubber:hover > span {
    transform: scale(1.05);
  }
  
  .rubber:active > span {
    transform: scale(0.95);
  }
  
  .rubber > svg {
    fill:  rgb(250, 244, 237);
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
  }
  
  .rubber > svg > path {
    transition: var(--motion-duration) var(--motion-ease);
  }
  
  .rubber:hover > svg > path {
    d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
  }
  
  .rubber:active > svg > path {
    d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
  }

  @media (max-width:477px){
    header h1{
        color: rgb(250, 244, 237);
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    header h2{
        color: rgb(250, 244, 237);
        font-size: 16px;
        font-weight: 200;
        text-align: center;
    }
    .header-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .rubber {
        appearance: none;
        background: transparent;
        border: 0;
        color: #1a1a1a;
        cursor: pointer;
        font: inherit;
        font-weight: 500;
        line-height: 1;
        padding: 1em 1.5em;
        position: relative;
        text-align: center;
        align-items: center;
        transition: filter var(--motion-duration);
        font-weight: 400;
        width: fit-content;
      }
  }